$green: #52993E;
$yellow: #DCCD79;
$red: #C40A42;
$blue: #569CD6;
$grey: #1E1E1E;

body {
    background-color: $grey;
    color: $green;
}
h1 {
    color: $yellow;
}
div {
    h1 {
        color: paleturquoise;
    }
} 